body {
  font-family: 'Poppins', sans-serif;
}
.sort-container {
  margin: 10px 0; 
  padding: 10px; 
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center; 
}

.sort-container .form-group {
  display: flex;
  align-items: center;
}

.sort-container label {
  margin-right: 10px; 
}

.search-container {
  margin-top: 10px; 
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1; 
  margin-right: 10px; 
}


footer {
  background-color: #f8f9fa;
  padding: 30px 0;
}

.card {
  background-color: transparent; 
  border: none; 
  text-align: center; 
}

.card-title {
  font-size: 1.2rem; 
  margin-bottom: 10px;
}

.card-text {
  font-size: 0.9rem;
}
.main-text-color{
 color: #f84f00;
}
.text-color{
  color: whitesmoke;
}
.pagination-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-primary {
  margin: 0 10px;
}
.card-img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.link{
  text-decoration: none;
}
/* login/logout */
.login-btn{
  margin-left: 85px;
}
.logout-btn{
 background-color: #f84f00;
 color: whitesmoke;
}
.logout-btn:hover {
  background-color: whitesmoke;
  border-color: #f84f00;
  color: black; 
}
.custom-nav .nav-item {
  margin-right: 15px; 
}

.custom-nav .nav-item:last-child {
  margin-right: 0;
}
.custom-navcolor{
  background-color: #f3f3da;
}
.custom-footercolor{
  background-color: #495153;
  box-shadow: 1px 0.5px;
}
body, html {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.card {
  border: none; /* Optional: Remove border if needed */
}
.margin-top{
  place-self: center;
}
body, html {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.custom-card {
  border: none; /* Optional: Remove border if needed */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

.main-text-color {
  text-align: center;
  z-index: 2;
}
.btn-group {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Adjust the value as needed for margin between buttons */
}

.btn-custom {
  flex: 1;
  text-align: center;
}

.btn-delete {
  font-size: 0.875rem; /* Smaller font size */
}
